stages:
  - test
  - build
  - release
  - deploy

variables:
  TAG_DEV: develop
  TAG: production
  CONTAINER_IMAGE: ${CI_REGISTRY}/${CI_PROJECT_PATH}
  DEVELOP_NAMESPACE: hosting


test-build:
  services:
  image: docker:latest
  stage: test
  tags:
    - build
  script:
    - docker build -t ${CONTAINER_IMAGE}:${TAG_DEV}-${CI_BUILD_REF} .
    - docker rmi --force ${CONTAINER_IMAGE}:${TAG_DEV}-${CI_BUILD_REF}
  except:
    - develop
    - master
    - staging
    - tags

dev-release:
  image: docker:latest
  stage: release
  tags:
    - build
  script:
    - docker login -u gitlab-ci-token -p ${CI_BUILD_TOKEN} ${CI_REGISTRY}
    - docker build -t ${CONTAINER_IMAGE}:${TAG_DEV}-${CI_BUILD_REF}  .
    - docker push ${CONTAINER_IMAGE}:${TAG_DEV}-${CI_BUILD_REF}
    - docker rmi --force ${CONTAINER_IMAGE}:${TAG_DEV}-${CI_BUILD_REF}
  only:
    - develop

dev-deploy:
  image: exon/helm
  stage: deploy
  tags:
    - develop
  before_script:
    - mkdir -p /etc/deploy/
    - echo ${SANDBOX_KUBE_CONFIG} | base64 -d > ${KUBECONFIG}
    - helm init --client-only
    - helm repo update
  environment:
    name: develop
  script:
    - cd deploy
    - helm upgrade --install  --namespace=${DEVELOP_NAMESPACE} ${CI_PROJECT_NAME} --set image.tag=${TAG_DEV}-${CI_BUILD_REF} --set environment=develop --values values.yaml --values env/develop.yaml .
  only:
    - develop


dev github:
  image: alpine
  stage: deploy
  tags:
    - build
  before_script:
    - apk update
    - apk upgrade
    - apk add --no-cache bash git openssh
    - git config --global user.email "info@containerum.io"
    - git config --global user.name "Containerum Bot"
    - mkdir -p ~/.ssh
    - echo ${ID_RSA_GITHUB} | base64 -d > ~/.ssh/id_rsa
    - echo ${ID_RSA_PUB_GITHUB} | base64 -d > ~/.ssh/id_rsa.pub
    - chmod 600 ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa.pub
    - eval `ssh-agent -s`
    - ssh-add ~/.ssh/id_rsa
    - ssh-keyscan -H github.com >> ~/.ssh/known_hosts

  script:
    - if [ $(git remote show | grep github) ]; then git remote rm github; fi
    - if [ $(git branch --list | grep pub) ]; then git branch -d pub; fi
    - git remote add github git@github.com:containerum/kube-api.git
    - git pull origin develop
    - git fetch github
    - git checkout origin/develop
    - git checkout -b pub
    - git push -u github pub:publish --force
    - git remote rm github
  only:
    - publish
  when: always
