[submodule "vendor/github.com/PuerkitoBio/purell"]
	path = vendor/github.com/PuerkitoBio/purell
	url = https://github.com/PuerkitoBio/purell
[submodule "vendor/github.com/PuerkitoBio/urlesc"]
	path = vendor/github.com/PuerkitoBio/urlesc
	url = https://github.com/PuerkitoBio/urlesc
[submodule "vendor/github.com/emicklei/go-restful"]
	path = vendor/github.com/emicklei/go-restful
	url = https://github.com/emicklei/go-restful
[submodule "vendor/github.com/gin-contrib/sse"]
	path = vendor/github.com/gin-contrib/sse
	url = https://github.com/gin-contrib/sse
[submodule "vendor/github.com/gin-gonic/contrib"]
	path = vendor/github.com/gin-gonic/contrib
	url = https://github.com/gin-gonic/contrib
[submodule "vendor/github.com/gin-gonic/gin"]
	path = vendor/github.com/gin-gonic/gin
	url = https://github.com/gin-gonic/gin
[submodule "vendor/github.com/go-openapi/jsonpointer"]
	path = vendor/github.com/go-openapi/jsonpointer
	url = https://github.com/go-openapi/jsonpointer
[submodule "vendor/github.com/go-openapi/jsonreference"]
	path = vendor/github.com/go-openapi/jsonreference
	url = https://github.com/go-openapi/jsonreference
[submodule "vendor/github.com/go-openapi/spec"]
	path = vendor/github.com/go-openapi/spec
	url = https://github.com/go-openapi/spec
[submodule "vendor/github.com/go-openapi/swag"]
	path = vendor/github.com/go-openapi/swag
	url = https://github.com/go-openapi/swag
[submodule "vendor/github.com/golang/glog"]
	path = vendor/github.com/golang/glog
	url = https://github.com/golang/glog
[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "vendor/github.com/google/gofuzz"]
	path = vendor/github.com/google/gofuzz
	url = https://github.com/google/gofuzz
[submodule "vendor/github.com/mailru/easyjson"]
	path = vendor/github.com/mailru/easyjson
	url = https://github.com/mailru/easyjson
[submodule "vendor/github.com/mattn/go-isatty"]
	path = vendor/github.com/mattn/go-isatty
	url = https://github.com/mattn/go-isatty
[submodule "vendor/github.com/satori/go.uuid"]
	path = vendor/github.com/satori/go.uuid
	url = https://github.com/satori/go.uuid
[submodule "vendor/github.com/sirupsen/logrus"]
	path = vendor/github.com/sirupsen/logrus
	url = https://github.com/sirupsen/logrus
[submodule "vendor/github.com/ugorji/go"]
	path = vendor/github.com/ugorji/go
	url = https://github.com/ugorji/go
[submodule "vendor/github.com/urfave/cli"]
	path = vendor/github.com/urfave/cli
	url = https://github.com/urfave/cli
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://go.googlesource.com/sys
[submodule "vendor/golang.org/x/text"]
	path = vendor/golang.org/x/text
	url = https://go.googlesource.com/text
[submodule "vendor/gopkg.in/go-playground/validator.v8"]
	path = vendor/gopkg.in/go-playground/validator.v8
	url = https://gopkg.in/go-playground/validator.v8
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "vendor/k8s.io/api"]
	path = vendor/k8s.io/api
	url = https://github.com/kubernetes/api
[submodule "vendor/k8s.io/apimachinery"]
	path = vendor/k8s.io/apimachinery
	url = https://github.com/kubernetes/apimachinery
[submodule "vendor/k8s.io/client-go"]
	path = vendor/k8s.io/client-go
	url = https://github.com/kubernetes/client-go
[submodule "vendor/k8s.io/kube-openapi"]
	path = vendor/k8s.io/kube-openapi
	url = https://github.com/kubernetes/kube-openapi
